/*Universal*/
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300&family=Montserrat&family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

a {
  text-decoration: none;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  background: hsl(0, 0%, 0%);
}

ul {
  display: flex;
}

li {
  list-style: none;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

li:hover {
  background-color: hsl(3, 38%, 38%);
}

/* Welcome */
#welcome-section {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#welcome-section img {
  width: 10rem;
}

#welcome-section h1 {
  color: black;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Martel Sans', serif;
}

#welcome-section h3 {
  color: hsl(263, 10%, 38%);
  font-family: 'Montserrat', sans-serif;
}


/* Work */
#work {
  margin: 2rem;
  padding-top: 4rem;
}

#work h2 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 4rem;
}

#examples {
  display: flex;
  flex-wrap: wrap;
}

.project {
  border-radius: 1rem;
  width: 30%;
  margin: 1.2rem;
}

.project-pic {
  width: 100%;
  border-radius: 1rem;
}

.project-title {
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.project-info {
  font-family: 'Raleway', sans-serif;
  color: hsl(263, 10%, 38%);
  padding: 1rem;
  text-align: center;
}

.project:hover {
  cursor: pointer;
  box-shadow: 0rem 0rem 1rem 0.2rem grey;
}

/* Loop in */
#contact {
  background-color: hsl(3, 38%, 38%);
  height: 30vh;
}

#contact h3 {
  text-align: right;
  padding: 2rem;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  padding-right: 6rem;
  color: white;
}

#contact a {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  color: hsl(263, 10%, 64%);
  padding: 2rem;
  text-align: center;
}

/* Smaller screen */
@media (max-width: 600px) {
  #examples {
    flex-direction: column;
  }
  
  #work h2 {
    margin-left: 0rem;
    text-align: center;
  }
  
  .project {
    width: 90%;
    box-shadow: 0rem 0rem 1rem 0.2rem grey;
  }
  
  #contact h3 {
    padding-right: 2rem;
    text-align: center;
  }
}

@media (max-width: 810px) {
  .project {
    width: 80%;
  }
}

@media (max-width: 850px) {
    #welcome-section h3 {
    padding: 1rem;
  }
}

@media (max-width: 405px) {
  ul {
    flex-direction: column;
  }
  
  li {
    padding: 1rem;
  }
}

/* Animations */

@keyframes zoom-in-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

#welcome-section h1 {
  animation-name: zoom-in-out;
  animation-duration: 1.5s;
}

#welcome-section img {
  animation-name: zoom-in-out;
  animation-duration: 1.5s;
}
